/* styling form component */
form {
    margin: 1em auto;
    display: flex;
    flex-direction: column; 
    padding-bottom: 15px;
    width: 65%;
  }
  
  input, button {
    margin: 5px;
    width: 30%;
    border: 2px solid black;
    font-size: 18px;
  }
  