.ideas-container {
    padding: 20px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; */
    
  }
.card:hover {
  border: 1px solid #999;
  box-shadow: 2px 2px #999;
}  